

.color-wrap {
    .color {
        width: 200px;
        height: 200px;
        margin: 100px auto 0 auto;
        background: red;
        color: white;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}